# Environment variables template, copy and rename to .env.local

# Add your own endpoint value for your Hygraph project
HYGRAPH_ENDPOINT=

# Add your own auth token value for your Hygraph project
HYGRAPH_DEV_AUTH_TOKEN=

# Add preview secret
HYGRAPH_PREVIEW_SECRET=
